# Saare node_modules (Root, Frontend, Backend sab cover ho jayenge)
**/node_modules/

# Saari Environment Files (.env, .env.local, etc.)
**/.env*

# Build Folders (Frontend/Backend ke build artifacts)
**/.next/
**/dist/
**/build/

# Logs
*.log